<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand " href="{{ path('app_home') }}">
        <img class="logo_ecoit" src="public/assets/images/logo_ecoit.png" alt="logo ecoit" height="60" class="d-inline-block align-text-bottom">
    </a>
    <a class="navbar-brand" href="{{ path('app_login') }}">
        <img src="https://img.icons8.com/ios/50/00a877/login-rounded-up.png"/>
    </a>
  </div>
</nav>